*,
::before,
::after
  box-sizing: border-box

body
  font-family: "ProximaNova-Light", sans-serif
  font-size: 16px
  background-color: rgba(22, 40, 49, 1)
  color: #fff

.container
  max-width: 1346px
  padding: 0 25px
  margin: 0 auto
  border-radius: $radius